@font-face {
  font-family: 'Cuprum';
  src: url('../fonts/cuprum.woff') format('woff'),
  url('../fonts/cuprum.woff2') format('woff2');
  font-weight: 400;
}
@font-face {
  font-family: 'Cuprum';
  src: url('../fonts/cuprumitalic.woff') format('woff'),
  url('../fonts/cuprumitalic.woff2') format('woff2');
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: 'Cuprum';
  src: url('../fonts/cuprumbold.woff') format('woff'),
  url('../fonts/cuprumbold.woff2') format('woff2');
  font-weight: 700;
}
@font-face {
  font-family: 'Cuprum';
  src: url('../fonts/cuprumbolditalic.woff') format('woff'),
  url('../fonts/cuprumbolditalic.woff2') format('woff2');
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: 'Pt-sans';
  src: url('../fonts/ptsans.woff') format('woff'),
  url('../fonts/ptsans.woff2') format('woff2');
  font-weight: 400;
}
@font-face {
  font-family: 'Pt-sans';
  src: url('../fonts/ptsansbold.woff') format('woff'),
  url('../fonts/ptsansbold.woff2') format('woff2');
  font-weight: 700;
}
