body {
  margin: 0;
  padding: 0;
  color: #FFFFFF;
  font-family: 'Cuprum', Arial, sans-serif;
  background-color: #FFFFFF;
}

.container {
  max-width: 940px;
  padding: 0 10px;
  margin: 0 auto;
}

.link {
  padding: 10px 0;
  font-size: 14px;
  text-align: center;
  line-height: 18px;
  text-decoration: none;
  text-transform: uppercase;
  color: inherit;
  border-radius: 4px;
  background-color: #EE3643;
  transition: background-color .2s;
}

.link:hover {
  background-color: #CA2C37;
}

.link:active {
  background-color: #BA2732;
}

.new::after {
  content: url("../img/new-ribbon.png");
  position: absolute;
  top: 0;
  right: 0;
}

/* HEADER */

.page-header {
  background-color: #f3f6f8;
}

.page-header__goods-info {
  background-color: #293449;
}

.goods-top-info {
  display: flex;
  font-size: 17px;
  line-height: 18px;
}

.logo {
  display: block;
  padding: 10px 55px;
  font-size: 24px;
  line-height: 24px;
  color: #FFFFFF;
  text-decoration: none;
  text-transform: uppercase;
  background-color: #ee3643;
  box-shadow: 0 5px 0 0 #b52933;
  transition: color .2s, background-color .2s, box-shadow .2s;
}

.logo:hover {
  background-color: #ca2c37;
  box-shadow: 0 5px 0 0 #9a212a;
}

.logo:active {
  background-color: #ba2732;
  box-shadow: 0 5px 0 0 #8e1e26;
}

.header-search-form {
  display: flex;
  align-items: center;
  position: relative;
}

.header-search-form__input {
  padding-left: 50px;
  width: 270px;
  height: 100%;
  box-sizing: border-box;
  background-color: transparent;
  border: none;
  color: inherit;
  transition: background-color .2s ease-in-out;
}

.header-search-form__input:hover {
  background-color: #212A3A;
}

.header-search-form__input:focus {
  color: #000;
  background-color: #FFF;
}

.header-search-form__input::placeholder {
  color: #FFF;
  opacity: 1;
  transition: opacity .2s, color .2s;
}

.header-search-form__input:focus::placeholder {
  color: #000;
  opacity: 1;
}

.header-search-form__label {
  position: absolute;
  left: 0;
  padding-left: 16px;
  opacity: 0.5;
  transition: opacity .2s ease-in-out;
}

.svg-icon path {
  transition: fill .2s ease-in-out;
}

.header-search-form__input:hover ~ .header-search-form__label,
.header-search-form__input:focus ~ .header-search-form__label {
  opacity: 1;
}

.header-search-form__input:focus ~ .header-search-form__label .svg-icon path {
  fill: #EE3643;
}

.goods-top-info__action {
  display: flex;
  align-items: center;
  flex: 1;
  padding: 12px 17px 14px;
  transition: background-color 0.2s;
  text-decoration: none;
  color: inherit;
}

.goods-top-info__action-icon {
  height: 16px;
  width: 14px;
  margin-right: 14px;
}

.goods-top-info__action .svg-icon {
  opacity: 0.5;
  transition: opacity 0.2s;
}

.goods-top-info__action:hover {
  background-color: #212A3A;
}

.goods-top-info__action:hover .svg-icon {
  opacity: 1;
}

.goods-top-info__action:active {
  background-color: #161d29;
  color: rgba(255, 255, 255, 0.6);
}

.goods-top-info__action:active .svg-icon {
  opacity: 0.5;
}

.page-header__make-order {
  display: block;
  width: 150px;
  padding: 10px 20px;
  box-sizing: border-box;
  color: #FFFFFF;
  text-decoration: none;
  background-color: #63a63e;
  transition: color .2s, background-color .2s;
}

.page-header__make-order:hover {
  background-color: #5fbb2d;
}

.page-header__make-order:active {
  color: rgba(255, 255, 255, 0.51);
  background-color: #518534;
}

.page-header__contacts {
  padding-top: 46px;
  padding-bottom: 44px;
}

.header-contacts {
  display: flex;
  justify-content: space-between;
}

.header-contacts__column {
  width: 300px;
  box-sizing: border-box;
}

.header-contacts__column:first-child {
  padding: 0 50px;
}

.header-contacts__promo {
  margin: 0;
  color: #ee3643;
  line-height: 23px;
  font-style: italic;
}

.header-contacts__column .phone {
  position: relative;
  margin: 0 0 5px;
  padding: 10px 0 10px 70px;
  box-sizing: border-box;
  border: 3px solid #FFF;
  color: #ee3643;
  font-size: 21px;
  line-height: 21px;
}

.header-contacts__column .phone::before {
  content: url("../img/icon-phone.svg");
  width: 19px;
  height: 19px;
  position: absolute;
  left: 13px;
  top: 50%;
  margin-top: -10px;
}

.header-contacts__column .address {
  margin: 0;
  font-size: 14px;
  line-height: 24px;
  color: #32425c;
  text-align: center;
}

.header-contacts__actions {
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
}

.header-contacts__action {
  display: flex;
  align-items: center;
  margin-right: 10px;
  padding: 13px 24px;
  font-size: 21px;
  line-height: 21px;
  color: #000;
  text-decoration: none;
  background-color: #fff;
  transition: color .2s;
}

.header-contacts__action:first-child {
  margin: 0;
  padding-left: 14px;
}

.header-contacts__action:last-child {
  margin: 0;
}

.header-contacts__action-icon {
  width: 20px;
  height: 17px;
  margin-right: 15px;
  fill: #c5c5c5;
  opacity: 0.3;
  transition: fill .2s, opacity .2s;
}

.header-contacts__action:hover {
  color: #ee3643;
}

.header-contacts__action:hover .header-contacts__action-icon {
  fill: #32425c;
}

.header-contacts__action:active {
  color: rgba(0, 0, 0, 0.3);
}

.header-contacts__action:active .header-contacts__action-icon {
  opacity: 1;
  fill: #c5c5c5;
}

.main-nav__list {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  box-shadow: 0 5px 0 0 #293449;
}

.main-nav__list li {
  flex: 1;
}

.main-nav__link {
  display: block;
  padding: 20px 30px;
  text-decoration: none;
  font-size: 17px;
  line-height: 17px;
  text-align: center;
  color: #FFF;
  background-color: #32425c;
  transition: color .2s, background-color .2s;
}

.main-nav__link:hover {
  background-color: #293449;
}

.main-nav__link:active {
  color: rgba(255, 255, 255, 0.5);
  background-color: #1d2739;
}

/* MAIN PAGE */

.main-features__list {
  display: flex;
  padding: 59px 0 53px;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
}

.main-features__list li {
  list-style: none;
}

.main-feature {
  position: relative;
  box-sizing: border-box;
  width: 300px;
  margin-bottom: 20px;
  min-height: 123px;
  padding: 20px 25px;
  background-repeat: no-repeat;
}

.main-features__container .main-feature:last-child {
  margin-bottom: 0;
}

.main-feature__title {
  display: block;
  margin-bottom: 15px;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
}

.main-feature__link {
  display: block;
  width: 135px;
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0.1);
}

.main-feature__link:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.main-feature__link:active {
  background-color: rgba(0, 0, 0, 0.3);
}

.main-feature--orange {
  background-color: #ffc047;
  background-image: url("../img/icon-1.svg");
  background-position: right 43px center;
}

.main-feature--blue {
  background-color: #3bbce3;
  background-image: url("../img/icon-2.svg");
  background-position: right 28px center;
}

.main-feature--purple {
  background-color: #dc91d8;
  background-image: url("../img/icon-3.svg");
  background-position: right 30px center;
}

.main-feature--green {
  background-color: #8ed78f;
  background-image: url("../img/icon-4.svg");
  background-position: right 45px center;
}

.main-features__container .main-feature--orange {
  background-image: url("../img/icon-5.svg");
  background-position: right 30px center;
}

.features-slider {
  width: 620px;
  position: relative;
}

.features-slider__arr {
  position: absolute;
  left: 25px;
  top: 50%;
  width: 22px;
  height: 40px;
  padding: 0;
  margin-top: -20px;
  border: none;
  background-color: transparent;
  background-image: url("../img/icon-arr.svg");
  cursor: pointer;
}

.features-slider__arr--right {
  right: 25px;
  left: auto;
  transform: rotate(180deg);
}

.features-slider__controls {
  position: absolute;
  bottom: 36px;
  transform: translateX(-50%);
  left: 50%;
  font-size: 0;
}

.features-slider__control {
  width: 6px;
  height: 6px;
  margin-right: 10px;
  padding: 0;
  box-sizing: content-box;
  border-radius: 50%;
  border: 2px solid #FFF;
  background-color: #FFF;
  cursor: pointer;
}

.features-slider__control:last-child {
  margin-right: 0;
}

.features-slider__control--active {
  background-color: #EE3643;
}

.features-slider__slides {
  padding: 0;
  list-style: none;
}

.features-slide {
  display: none;
  position: relative;
  padding: 20px 25px;
  min-height: 266px;
  box-sizing: border-box;
  background-position: center;
  background-repeat: no-repeat;
}

.features-slide--active {
  display: block;
}

.features-slide:nth-child(1) {
  background-image: url("../img/slide-1.jpg");
}

.features-slide:nth-child(2) {
  background-image: url("../img/slide-2.jpg");
}

.features-slide__title {
  display: block;
  margin-bottom: 5px;
  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.features-slide__description {
  margin: 0;
  font-size: 18px;
  line-height: 24px;
}

.features-slide__link {
  position: absolute;
  bottom: 20px;
  display: block;
  width: 195px;
}

/* СЕКЦИЯ ПОПУЛЯРНЫХ ТОВАРОВ */

.popular-goods {
  margin-bottom: 20px;
}

.popular-header {
  display: flex;
  margin-bottom: 20px;
  justify-content: space-between;
  align-items: center;
  padding: 25px 24px 24px 30px;
  background-color: #f9f5f0;
}

.popular-header__title {
  margin: 0;
  font-size: 30px;
  line-height: 30px;
  color: #32425c;
  font-weight: normal;
  text-transform: uppercase;
}

.popular-header__link {
  width: 253px;
}

.goods-list {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.goods-item {
  min-height: 300px;
  position: relative;
  display: block;
  padding: 6px 17px 25px;
  border: 1px solid #eaeaea;
  color: inherit;
  font-family: 'Pt-Sans', Arial, sans-serif;
  text-decoration: none;
  text-align: center;
  transition: box-shadow .2s;
}

.goods-item:hover {
  box-shadow: 0 10px 25px 0 rgba(41, 52, 73, 0.5);
}

.goods-item:hover .goods-item__image {
  visibility: hidden;
}

.goods-item:hover .goods-item__user-actions {
  display: block;
}

.goods-item__image {
  max-width: 100%;
}

.goods-item__title {
  margin: 0 auto 10px;
  max-width: 160px;
  font-size: 18px;
  line-height: 20px;
  color: #000;
  font-weight: 700;
}

.goods-item__old-price {
  display: block;
  color: #a9a9a9;
  font-size: 17px;
  line-height: 18px;
  font-weight: 700;
  text-decoration: line-through;
}

.goods-item__price {
  position: absolute;
  bottom: 17px;
  left: 50%;
  padding: 9px 0;
  width: 140px;
  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
  background-image: url("../img/red-button.svg");
  background-repeat: no-repeat;
  transform: translateX(-50%);
}

.goods-item__user-actions {
  display: none;
  position: absolute;
  top: 45px;
  font-family: 'Cuprum', Arial, sans-serif;
  left: 50%;
  transform: translate(-50%);
}

.goods-item__user-actions .link {
  display: block;
  cursor: pointer;
  box-sizing: border-box;
  width: 135px;
}

.goods-item__buy-action {
  position: relative;
  margin-bottom: 8px;
  border: none;
  background-color: #63a63e;
  box-shadow: 0 3px 0 0 #367315;
}

.goods-item__buy-action::before {
  content: "";
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  width: 15px;
  height: 15px;
  opacity: 0.3;
  background-image: url("../img/icon-cart.svg");
  background-repeat: no-repeat;
  transition: opacity .2s;
}

.goods-item__buy-action:hover {
  background-color: #5fbb2d;
}

.goods-item__buy-action:hover::before,
.goods-item__buy-action:active::before {
  opacity: 1;
}

.goods-item__buy-action:active {
  background-color: #518534;
}

.goods-item__bookmark-action {
  border: 3px solid #63a63e;
  color: #32425c;
  background-color: #FFF;
  transition: border-color .2s, background-color .2s, opacity .2s;
}

.goods-item__bookmark-action:hover {
  border-color: #32425c;
  background-color: #FFF;
}

.goods-item__bookmark-action:active {
  border-color: #32425c;
  background-color: #FFF;
  opacity: 0.3;
}

.producers-list {
  margin: -10px;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  list-style: none;
}

.producers-list li {
  padding: 10px;
}

.producers-list__item {
  display: flex;
  width: 220px;
  height: 145px;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  border: 1px solid #eaeaea;
  box-shadow: none;
  transition: box-shadow .2s;
}

.producers-list__item img {
  transition: opacity .2s;
}

.producers-list__item:hover {
  border: none;
  box-shadow: 0 10px 25px 0 rgba(41, 52, 73, 0.5);
}

.producers-list__item:active {
  border: none;
  box-shadow: 0 4px 10px 0 rgba(41, 52, 73, 0.5);
}

.producers-list__item:active img {
  opacity: 0.3;
}
