body {
  margin: 0;
  padding: 0;
  color: #FFFFFF;
  font-family: 'Cuprum', Arial, sans-serif;
  background-color: #FFFFFF;
}

.container {
  max-width: 940px;
  padding: 0 10px;
  margin: 0 auto;
}

.page-header {
  background-color: #f3f6f8;
}

.page-header__goods-info {
  background-color: #293449;
}

.goods-top-info {
  display: flex;
  font-size: 17px;
  line-height: 18px;
}

.logo {
  display: block;
  padding: 10px 55px;
  font-size: 24px;
  line-height: 24px;
  color: #FFFFFF;
  text-decoration: none;
  text-transform: uppercase;
  background-color: #ee3643;
  box-shadow: 0 5px 0 0 #b52933;
  transition: color .2s, background-color .2s, box-shadow .2s;
}

.logo:hover {
  background-color: #ca2c37;
  box-shadow: 0 5px 0 0 #9a212a;
}

.logo:active {
  background-color: #ba2732;
  box-shadow: 0 5px 0 0 #8e1e26;
}

.header-search-form {
  display: flex;
  align-items: center;
  position: relative;
}

.header-search-form__input {
  padding-left: 50px;
  width: 270px;
  height: 100%;
  box-sizing: border-box;
  background-color: transparent;
  border: none;
  color: inherit;
  transition: background-color .2s ease-in-out;
}

.header-search-form__input:hover {
  background-color: #212A3A;
}

.header-search-form__input:focus {
  color: #000;
  background-color: #FFF;
}

.header-search-form__input::placeholder {
  color: #FFF;
  opacity: 1;
  transition: opacity .2s, color .2s;
}

.header-search-form__input:focus::placeholder {
  color: #000;
  opacity: 1;
}

.header-search-form__label {
  position: absolute;
  left: 0;
  padding-left: 16px;
  opacity: 0.5;
  transition: opacity .2s ease-in-out;
}

.svg-icon path {
  transition: fill .2s ease-in-out;
}

.header-search-form__input:hover ~ .header-search-form__label,
.header-search-form__input:focus ~ .header-search-form__label {
  opacity: 1;
}

.header-search-form__input:focus ~ .header-search-form__label .svg-icon path {
  fill: #EE3643;
}

.goods-top-info__action {
  display: flex;
  align-items: center;
  flex: 1;
  padding: 12px 17px 14px;
  transition: background-color 0.2s;
  text-decoration: none;
  color: inherit;
}

.goods-top-info__action-icon {
  height: 16px;
  width: 14px;
  margin-right: 14px;
}

.goods-top-info__action .svg-icon {
  opacity: 0.5;
  transition: opacity 0.2s;
}

.goods-top-info__action:hover {
  background-color: #212A3A;
}

.goods-top-info__action:hover .svg-icon {
  opacity: 1;
}

.goods-top-info__action:active {
  background-color: #161d29;
  color: rgba(255, 255, 255, 0.6);
}

.goods-top-info__action:active .svg-icon {
  opacity: 0.5;
}

.page-header__make-order {
  display: block;
  width: 150px;
  padding: 10px 20px;
  box-sizing: border-box;
  color: #FFFFFF;
  text-decoration: none;
  background-color: #63a63e;
  transition: color .2s, background-color .2s;
}

.page-header__make-order:hover {
  background-color: #5fbb2d;
}

.page-header__make-order:active {
  color: rgba(255, 255, 255, 0.51);
  background-color: #518534;
}

.page-header__contacts {
  padding-top: 46px;
  padding-bottom: 44px;
}

.header-contacts {
  display: flex;
  justify-content: space-between;
}

.header-contacts__column {
  width: 300px;
  box-sizing: border-box;
}

.header-contacts__column:first-child {
  padding: 0 50px;
}

.header-contacts__promo {
  margin: 0;
  color: #ee3643;
  line-height: 23px;
  font-style: italic;
}

.header-contacts__column .phone {
  position: relative;
  margin: 0 0 5px;
  padding: 10px 0 10px 70px;
  box-sizing: border-box;
  border: 3px solid #FFF;
  color: #ee3643;
  font-size: 21px;
  line-height: 21px;
}

.header-contacts__column .phone::before {
  content: url("../img/icon-phone.svg");
  width: 19px;
  height: 19px;
  position: absolute;
  left: 13px;
  top: 50%;
  margin-top: -10px;
}

.header-contacts__column .address {
  margin: 0;
  font-size: 14px;
  line-height: 24px;
  color: #32425c;
  text-align: center;
}

.header-contacts__actions {
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
}

.header-contacts__action {
  display: flex;
  align-items: center;
  margin-right: 10px;
  padding: 13px 24px;
  font-size: 21px;
  line-height: 21px;
  color: #000;
  text-decoration: none;
  background-color: #fff;
  transition: color .2s;
}

.header-contacts__action:first-child {
  margin: 0;
  padding-left: 14px;
}

.header-contacts__action:last-child {
  margin: 0;
}

.header-contacts__action-icon {
  width: 20px;
  height: 17px;
  margin-right: 15px;
  fill: #c5c5c5;
  opacity: 0.3;
  transition: fill .2s, opacity .2s;
}

.header-contacts__action:hover {
  color: #ee3643;
}

.header-contacts__action:hover .header-contacts__action-icon {
  fill: #32425c;
}

.header-contacts__action:active {
  color: rgba(0, 0, 0, 0.3);
}

.header-contacts__action:active .header-contacts__action-icon {
  opacity: 1;
  fill: #c5c5c5;
}

.main-nav__list {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  box-shadow: 0 5px 0 0 #293449;
}

.main-nav__list li {
  flex: 1;
}

.main-nav__link {
  display: block;
  padding: 20px 30px;
  text-decoration: none;
  font-size: 17px;
  line-height: 17px;
  text-align: center;
  color: #FFF;
  background-color: #32425c;
  transition: color .2s, background-color .2s;
}

.main-nav__link:hover {
  background-color: #293449;
}

.main-nav__link:active {
  color: rgba(255, 255, 255, 0.5);
  background-color: #1d2739;
}



